@page "/"
@inherits PokemonListBase

<h3>Pokemon List</h3>

@if (Pokemons == null)
{
    <div class="spinner"></div>
}
else
{
    <input type="checkbox" @bind="ShowFooter" id=showFooter>
    <label for="showFooter">Show Footer</label>
    <div class="card-deck">
        @foreach (var pokemon in Pokemons)
        {
            <DisplayPokemon ShowFooter="ShowFooter" Pokemon="pokemon"></DisplayPokemon>
        }
    </div>
}    



